:root {
    --inline-button-distance: 10px;
}

.inline-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .gallery-container {
        height: calc(var(--full-panel-height) * .75);
    }
}

.gallery-container {
    overflow: hidden;
    position: relative;
    border: 1px solid var(--secondary-accent-color);
    border-radius: 5px;
    height: calc(var(--full-panel-height) * .75);
}

.primary-container,
.preview-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.primary-image, .latent-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    object-fit: contain;
    transition: transform 400ms;
    user-select: none;
}

.latent-image.thumb-btn {
    cursor: pointer;
    pointer-events: auto;
    max-width: 25%;
    max-height: 25%;
    opacity: 0.5;
    z-index: 22;
    position: absolute;
    top: var(--inline-button-distance);
    right: var(--inline-button-distance);
    border: 1px solid var(--secondary-accent-color);
    border-radius: 5px;
}

.preview-container {
    background-color: var(--bs-body-bg-rgb);
    z-index: 10;
}

.preview-container.thumb-container {
    pointer-events: none;
    background-color: transparent;
}

.preview-container.hidden {
    display: none;
    z-index: 0;
}

.gallery-container *:focus {
    outline: none;
}

.thumbnail-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding: 5px 10px;
    justify-content: center;
    border: 1px solid var(--secondary-accent-color);
    height: calc(var(--full-panel-height) * .2);
}

.thumbnail-container.generating {
    height: calc(var(--full-panel-height) * .2 - 40px);
}

.thumbnail {
    cursor: pointer;
    height: 100%;
}

.thumbnail.active {
    border: 2px solid #000;
}

.caption-container {
    position: absolute;
    padding: 10px;
    bottom: 0;
    z-index: 10;
    background: #00000099;
    display: none;
    width: 100%;
}

.caption {
    display: block;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.inlineButton {
    font-size: 24px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    color: white;
    background: transparent;
    text-shadow: 3px 3px 2px black;
    opacity: 50%;
}

.inlineButton:hover {
    color: var(--secondary-color);
    background: var(--secondary-text-color);
    opacity: 75%;
}

.left-arrow,
.right-arrow {
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow::before {
    content: '\eb32';
    font-family: 'boxicons';
}

.right-arrow::before {
    content: '\ebe5';
    font-family: 'boxicons';
}

.left-arrow {
    left: var(--inline-button-distance);
}

.right-arrow {
    right: var(--inline-button-distance);
}

.fullscreen-button {
    top: var(--inline-button-distance);
    left: var(--inline-button-distance);
}

.download-button {
    top: calc(var(--inline-button-distance) + 35px);
    left: calc(var(--inline-button-distance));
}

.gallery-share-button {
    top: calc(var(--inline-button-distance) + (35px * 2));
    left: calc(var(--inline-button-distance));
}

.gallery-reuse-button {
    top: calc(var(--inline-button-distance) + (35px * 3));
    left: calc(var(--inline-button-distance));
}

.gallery-share-button::before {
    content: "\ec02";
    font-family: 'boxicons';
}

.fullscreen-button::before {
    content: '\eaeb';
    font-family: 'boxicons';
}

.download-button::before {
    content: '\ed95';
    font-family: 'boxicons';
}

.gallery-reuse-button::before {
    content: "\ebd7";
    font-family: 'boxicons';
}


.thumbnail-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--secondary-color);
}

.thumbnail-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-text-color);
    border-radius: 4px;
}

.thumbnail-container::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.thumbnail-container::-moz-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--secondary-color);
}

.thumbnail-container::-moz-scrollbar-thumb {
    background-color: var(--secondary-text-color);
    border-radius: 4px;
}

.thumbnail-container::-moz-scrollbar-track {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.thumbnail-container::-ms-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--secondary-color);
}

.thumbnail-container::-ms-scrollbar-thumb {
    background-color: var(--secondary-text-color);
    border-radius: 4px;
}

.thumbnail-container::-ms-scrollbar-track {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

