<div class="module" id="moduleSample">
    <div class="container-fluid" id="sampleContainer">
        <div class="row">
            <!-- Add various columns here -->
            <div class="col-12">
                <!-- You can also put one or more cards in a column -->
                <div class="card shadow">
                    <div class="card-body">
                        <!-- Your code goes here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
