Markdown
PyJWT
accelerate==0.17.1
aiofiles
albumentations~=1.3.0
basicsr
bcrypt
bitsandbytes==0.35.4
diffusers~=0.14.0
discord-webhook~=1.1.0
fastapi
fastapi_sessions
ftfy~=6.1.1
gitpython~=3.1.31
jinja2
lion-pytorch~=0.0.7
matplotlib
mediapipe-silicon; sys_platform == 'darwin'
mediapipe; sys_platform != 'darwin'
modelcards~=0.1.6
omegaconf
pandas
passlib
pytest
python-dotenv
python-multipart
requests
safetensors>=0.2.8
tensorboard
torch==2.0.0
torchvision==0.15.1
--extra-index-url https://download.pytorch.org/whl/cu118
tensorflow-macos==2.11.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow==2.11.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tqdm~=4.64.1
transformers~=4.27.1
uvicorn
websockets