/*
    Base Stylesheet
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 2rem;
    --footer-height: 1rem;
    --nav-width: 66px;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --btn-row-height: 24px;
    --bs-white: var(--white-color);
    --bs-black: var(--black-color);
    --bs-primary: var(--primary-color);
    --bs-secondary: var(--secondary-color);
    --bs-light: var(--secondary-text-color);
    --bs-dark: var(--primary-text-color);
    --bs-primary-rgb: rgb(var(--primary-color));
    --bs-secondary-rgb: rgb(var(--secondary-color));
    --bs-light-rgb: var(--primary-text-color);
    --bs-dark-rgb: var(--secondary-text-color);
    --bs-white-rgb: rgb(var(--bs-white));
    --bs-black-rgb: rgb(var(--bs-black));
    --bs-body-color-rgb: rgb(var(--secondary-color));
    --bs-body-color: var(--secondary-color);
    --bs-body-bg-rgb: rgb(var(--secondary-accent-color));
    --first-color: var(--primary-color);
}


*, ::before, ::after {
    box-sizing: border-box
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--secondary-text-color);
    background-color: rgba(var(--bs-body-bg-rgb), 0.9);
    -webkit-tap-highlight-color: rgba(var(--bs-black-rgb), 0);
}

a {
    text-decoration: none
}


html, body, #mainBody {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary-accent-color);
    color: var(--primary-accent-text-color);
}

input {
    background-color: var(--primary-accent-color);
    color: var(--primary-accent-text-color);
}

.fit {
    display: inline-block;
    white-space: nowrap;
}

.bg-light {
    background-color: var(--bs-body-bg-rgb) !important;
}

/* overrides for other elements with static colors */
.btn-primary {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-color: var(--bs-gray-400);
}

.btn-secondary, .nav-tabs .nav-link {
    color: var(--primary-accent-text-color);
    background-color: var(--secondary-accent-color);
    border-color: var(--bs-border-dark);
}

.form-control {
    color: var(--secondary-accent-text-color);
    background-color: var(--secondary-accent-color);
    border-color: var(--bs-border-dark);
}

.form-control:focus {
    color: var(--secondary-accent-text-color);
    background-color: var(--secondary-accent-color);
    border-color: #86b7fe;
    border-top-color: rgb(134, 183, 254);
    border-right-color: rgb(134, 183, 254);
    border-bottom-color: rgb(134, 183, 254);
    border-left-color: rgb(134, 183, 254);
}

.table {
    color: var(--secondary-text-color);
}

.table thead th {
    background-color: var(--bs-gray-100);
    border-bottom-color: var(--bs-gray-200);
}

#errorModal {
    z-index: 1000000;
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--bs-gray-200);
    color: var(--bs-gray);
    opacity: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--bs-gray-100);
}

.table-hover tbody tr:hover {
    background-color: var(--bs-gray-200);
}

.card-header, .accordion-button {
    background-color: rgba(var(--bs-body-bg-rgb), 0.2);
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--bs-gray-400);
}

.card-header, .accordion-header, .accordion-button, .modal-header {
    height: 44px;
}

.modal-header {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card, .modal-content, .accordion.shadow, .accordion-collapse {
    background-color: var(--bs-body-bg-rgb);
    border: 1px solid var(--bs-border-dark);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    width: 0;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: -12px;
    transition: all .3s ease-in-out;
    bottom: 0;
}
input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:active::-webkit-inner-spin-button{
    display: block;
    width: 1em;
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
    background: var(--secondary-color);
    color: black;
    transition: all .3s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
}

.accordion {
    border-radius: 5px;
}

.accordion-item {
    border: none !important;
}

.accordion-header:first-child {
    border-radius: 5px 5px 0 0;
}

.carousel-control-prev,
.carousel-control-next {
    color: var(--bs-white);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0L4 1.25 6.75 4l-2.75 2.75L5.25 8l4-4z'/%3e%3c/svg%3e");
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--primary-text-color);
    font-size: 30px;
    z-index: 9999;
}

.loading.loaded {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.loadWrap {
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
}

.subLoader {
    font-size: 17px;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.accordion-header,
.modal-header,
.modal-footer,
.card-title,
.card-subtitle,
.card-text,
.card-link,
.card-header,
.accordion-button,
.accordion-button:not(.collapsed),
.card-footer {
    color: var(--secondary-accent-text-color);
    background: var(--secondary-accent-color);
}

.list-group-item {
    color: var(--secondary-accent-text-color);
    background-color: var(--secondary-accent-color);
    border-color: var(--bs-gray-400);
}

.list-group-item.active {
    color: var(--secondary-accent-text-color);
    background-color: var(--secondary-accent-color);
    border-color: var(--secondary-accent-color);
}

.list-group-item-primary {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.list-group-item-primary.active {
    color: var(--primary-accent-text-color);
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
}

.alert {
    color: var(--secondary-text-color);
    background-color: var(--bs-white);
    border-color: var(--bs-gray-400);
}

.alert-primary {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.alert-secondary {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.alert-success {
    color: var(--bs-success);
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.alert-info {
    color: var(--bs-info);
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}

.alert-warning {
    color: var(--bs-warning);
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
}

.borderSection {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--secondary-accent-color);
    border: 1px solid var(--secondary-accent-text-color);
    color: var(--secondary-accent-text-color);
}

.textEditor {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1rem!important;
}

.form-group > label {
    margin-bottom: 0.25rem!important;
}

.sectionLabel:not([class*="col-"]) {
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}

.sectionLabel {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-header {
    font-size: 22px;
    margin-bottom: 5px;
}


.hide {
    display: none;
    height: 0;
    width: 0;
}

.module {
    margin-left: var(--nav-width);
    overflow-y: auto;
    position: fixed;
    padding: 1rem 1rem calc(var(--nav-width) - 1rem) 1rem;
    top: 0;
    left: -100%;
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--footer-height));
    background-color: var(--bs-body-bg-module);
    transition: left 0.5s ease-in-out;
}

.module.activePane {
    left: 0;
}


#footer {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--secondary-accent-color);
    color: var(--secondary-text-color);
    z-index: calc(var(--z-fixed) - 1);
    transition: .5s
}

.header_toggle {
    transition: all 0.5s ease;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    padding-left: 22px;
    top: 18px;
    background: var(--primary-color);
}

#header-toggle {
    transition: transform 0.5s ease-in-out;
}

#header-toggle.rotate {
    color: var(--primary-text-color);
    transform: rotate(180deg) !important;
}

#header-toggle.rotate:hover {
    color: var(--secondary-text-color);
    transform: rotate(180deg) !important;
}

.nav-link.active {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
}

.header-open, .header-open:hover {
    padding-left: 23px;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--primary-color);
    padding: .5rem 0 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

#mainNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}


.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.55rem
}

.nav_icon, .nav_logo-icon {
    padding-right: 5px;
}

.nav_logo {
    margin-bottom: 2rem
}

#moduleSettings_link {
    position: absolute;
    width: 100%;
    bottom: 50px;
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .l-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--header-height);
        background-color: var(--primary-color);
        padding: 0;
        transition: .5s;
        z-index: var(--z-fixed);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }

    .header_toggle {
        display: none;
    }

    #mainNav {
        height: var(--header-height);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden
    }

    .nav_list {
        flex-direction: row;
        height: var(--header-height);
    }

    .nav_logo, .nav_link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: var(--header-height) !important;
        padding: 0 10px;
    }

    #moduleSettings_link {
        position: fixed;
        width: 50px;
        right: 35px;
        overflow: hidden;
        top: 0;
    }

    .navWrap {
        flex: 1;
    }

    .nav_icon, .nav_logo-icon {
        padding-right: 5px;
    }

    .nav_logo {
        display: none;
    }

    .nav_name {
        display: none;
    }

    :root {
        --nav-width: 0;
        --footer-height: 2rem;
    }

    .module {
        width: 100% !important;
        position: fixed;
        padding: 1rem;
        top: var(--header-height);
        left: -100%;
        height: calc(100% - var(--header-height) - var(--footer-height));
    }

    .loginCard {
        margin: 0 auto !important;
    }

    .loginCard .card-title {
        font-size: 1.5rem;
    }

    .form-group label {
        font-size: 1.2rem;
    }
}

.activeLink {
    background: var(--secondary-color) !important;
    color: var(--secondary-text-color) !important;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--secondary-text-color);
}

.nav_logo-name {
    color: var(--secondary-text-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--primary-text-color);
    height: 50px;
    transition: .3s
}

.nav_link:hover {
    color: var(--primary-accent-color);
    background: var(--primary-accent-text-color);
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body:not(.loginBody) {
        margin: 0 0 var(--footer-height) 0;
        padding-left: var(--nav-width);
    }

    #footer {
        height: calc(var(--footer-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 0 0 0;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
    }

    .l-navbar.show {
        width: calc(var(--nav-width) + 180px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


.modal-backdrop.show {
    opacity: .5;
    width: 100%;
}

.modal.show {
    width: 100%;
    height: 100%;
    z-index: 10000;
}


.card.shadow, .accordion.shadow {
    margin: 5px 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: box-shadow .3s, transform .3s;
}

.card.shadow:hover, .accordion.shadow:hover {
    box-shadow: 0 .7rem 1.2rem rgba(0, 0, 0, .1) !important;
    transform: scale(1.01);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23212529"%3e%3cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" /%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%230C63E4"%3e%3cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" /%3e%3c/svg%3e');
    transform: rotate(-180deg);
}


.align-items-stretch {
    align-items: stretch !important;
}

.prompt-text {
    height: auto !important;
    max-height: 3em;
    overflow-y: hidden;
    resize: none;
}

.prompt-text:focus {
    max-height: 9em;
    overflow-y: scroll;
}
