/*
    Base Stylesheet
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html, body, #mainBody {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--secondary-color);
}

.module {
    display: none !important;
    padding: 1rem;
}

.module.activePane {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --footer-height: 1rem;
    --nav-width: 66px;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*, ::before, ::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}


#footer {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--secondary-accent-color);
    color: var(--secondary-accent-text-color);
    z-index: calc(var(--z-fixed) - 1);
    transition: .5s
}

.header_toggle {
    transition: all 0.5s ease;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    padding-left: 22px;
    top: 18px;
    background: var(--primary-color);
}

#header-toggle {
  transition: transform 0.5s ease-in-out;
}

#header-toggle.rotate {
  transform: rotate(180deg);
}

.header-open {
    padding-left: 190px;
    background: transparent;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--primary-color);
    padding: .5rem 0 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

#mainNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}



.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.55rem
}

.nav_icon, .nav_logo-icon {
    padding-right: 5px;
}

.nav_logo {
    margin-bottom: 2rem
}

.activeLink {
    background: var(--secondary-color) !important;
    color: var(--secondary-text-color) !important;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--secondary-text-color);
}

.nav_logo-name {
    color: var(--secondary-text-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--secondary-color);
    height: 50px;
    transition: .3s
}

.nav_link:hover, .header_toggle:hover {
    color: var(--secondary-text-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 0 var(--footer-height) 0;
        padding-left: var(--nav-width);
    }

    #footer {
        height: calc(var(--footer-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 0 0 0;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
    }

    .l-navbar.show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


.modal-backdrop.show {
    opacity: .5;
    width: 100%;
}

.modal.show {
    width: 100%;
    height: 100%;
    z-index: 10000;
}


.card.shadow {
    margin: 5px 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: box-shadow .3s, transform .3s;
}

.card.shadow:hover {
    box-shadow: 0 .7rem 1.2rem rgba(0, 0, 0, .1) !important;
    transform: scale(1.01);
}

.align-items-stretch {
    align-items: stretch !important;
}
