:root {
    --file-btn-height: 45px;
    --path-container-height: 42px;
    --select-btn-height: 38px;
}

.fileBrowser, .tree {
    width: 100%;
    height: 100%;
}

.tree.selectSibling {
height(calc(100 % - var(--select-btn-height)));
}

.file-buttons {
    height: var(--select-btn-height);
}

.fileBrowser {
    border: 1px solid black;
    border-radius: 5px;
}

.fileBrowserContainer {
    height: 100%;
}

.fileCurrent {
    display: block;
    width: 100%;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.buttonCol {
    height: calc(var(--file-btn-height) - 10px);
    margin: 5px;
}

.buttonCol i {
    font-size: 20px;
    padding-top: 5px;
}

.fileTitle {
    border-bottom: 1px solid black;
    text-align: center;
}


.panelWrap {
    width: 100%;
}

.fileCurrent {
    padding-left: 11px;
    font-size: 22px;
    border-bottom: 1px solid var(--secondary-text-color);
}

.fileCurrent.dropdown {
    font-size: 15px;
}

li.fileLi {
    list-style: none; /* remove default marker */
    pointer-events: all;
    user-select: none;
    cursor: pointer;
}

.fileLi.selected, .fileLi.selected * {
    background: #0d0a0a;
    color: #999999;
}

li.fileLi * {
    pointer-events: none;
}

.fileIcon {

}

.tree-container {
    display: none;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 3px;
}

.tree {
    background: var(--secondary-accent-color);
}

.tree-container.full {
    display: block;
    height: 100%;
}

.tree-container.dropdown.full {
    display: block;
    height: 250px;
}

.treeRoot {
    overflow-y: auto;
    height: calc(100% - var(--path-container-height));
    padding: 0 15px;
}

.tree {
    display: block;
}

.file-buttons {
    width: 100%;
}

.file-buttons.hide, .dropdownGroup.hide {
    display: none;
}

.dataPanel {
    overflow-y: auto; /* make the div scrollable */
}

@media (max-width: 767.98px) {
    .tree-container.full {
        height: 50% !important;
    }

    .tree-container.full.no-info {
        height: 100% !important;
    }

    .infoPanel.closed {
        width: 100% !important;
        height: 0 !important;
    }

    .infoPanel {
        height: auto !important;
    }

    .fileSortCol {
        width: 150px !important;
    }

    .fileTitleCol {
        width: calc(100% - 150px) !important;
    }

    .fileCurrent {
        font-size: 18px !important;
    }
}

.fileSortCol {
    padding-top: 12px;
    padding-right: 35px;
}

.fileSortIndicator {
    width: 25px;
    height: 25px;
    padding-left: 5px;
    padding-top: 1px;
}

.fileSortButton {
    width: 25px;
    height: 25px;
    padding: 0;
}

.fileBtnRow, .fileBrowserContainer:not(.dropdown) {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
}

.fileBtnRow {
    top: 0;
    height: var(--file-btn-height);
}

.fileBrowserContainer:not(.dropdown) {
    top: var(--file-btn-height);
    height: calc(100% - var(--file-btn-height));
}

.imgPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
    background: black;
    padding: 10px;
}

.img-info {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    max-height: 100%;
}

.infoPanel {
    transition: all 0.5s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: var(--secondary-color);
    color: var(--secondary-accent-text-color);
    padding: 10px;
}

.fileBrowserContainer.col-12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fileTitleCol {
    padding-top: 1px;
}

.infoPanel.closed {
    width: 0;
    flex: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, width 0.5s ease-in-out 0.5s;
}

.dataPanel {
    overflow: auto;
}

.infoBtn {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.infoBtn:hover {
    transform: scale(1.1);
    background-color: var(--secondary-text-color);
}

.tempDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    background-color: var(--bs-body-bg-rgb);
    color: var(--secondary-text-color);
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.tempDiv.show {
    display: block;
    pointer-events: none !important;
}


.info-icon-left {
    left: 10px;
    top: 10px;
}

.info-icon-right {
    right: 10px;
    top: 10px;
}

.infoModal.show {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
}

#infoModalImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.infoLeft {
    position: fixed;
    left: 20px;
    top: 50%;
}

.infoRight {
    position: fixed;
    right: 20px;
    top: 50%;
}

.infoDownload {
    position: fixed;
    left: 20px;
    top: 20px;
}

.infoFullscreen {
    position: fixed;
    right: 20px;
    top: 20px;
}