#aspectButtons {
    width: 100%;
}

.aspectButton {
    padding: 1px 6px;
}

.db-advanced {
    display: none;
}

.btn-selected {
    background: var(--primary-color);
    color: var(--primary-text-color);
}

#inferHistoryButtons {
    position: absolute;
    right: 20px;
    top: -1px;
}

@media (max-width: 768px) {
#inferSwapDimensions {
    position: absolute;
    right: 50%!important;
    bottom: -37px!important;
    height: 37px;
}
}

#inferSwapDimensions {
    position: absolute;
    right: -20.5px;
    bottom: 0;
    height: 37px;
}

.btn-selected:focus {
    background: var(--bs-primary);
}

.col1 {
  flex: 1 1 auto;
    max-width: 50%;
}

.col2 {
  flex: 1 1 0;
  min-height: 100%;
}