#aspectButtons {
    width: 100%;
}

.aspectButton {
    padding: 1px 6px;
}

.btn-selected {
    background: var(--primary-color);
    color: var(--primary-text-color);
}

.btn-selected:focus {
    background: var(--bs-primary);
}

.col1 {
  flex: 1 1 auto;
    max-width: 50%;
}

.col2 {
  flex: 1 1 0;
  min-height: 100%;
}

#inferSettings {
    height: calc(100% - 10px);
}