#imageBrowser {
    border: 1px solid var(--bs-border-dark);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 70vh;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: var(--primary-accent-color);
    overflow-y: auto;
    height: 100%;
}

#imageBrowser .thumb {
    width: 128px;
    height: 128px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#imageBrowser .thumb.selected {
    border: 2px solid var(--primary-accent-text-color);
}

.fullImgWrap {
    width: 100%;
    max-height: 70vh;
    justify-content: center;
    text-align: center;
}

.fullImgWrap img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
}

#imageCaption {
    min-height: 50px;
    max-height: 20vh;
    line-height: 1.5em;
    overflow-y: auto;
}